<div class="container">
    <div class="container justify-content-center" style="display: flex;">
        <h1>Nostprüfungen</h1>
    </div>

    <div class="m-3">
        <input placeholder="Prüfung suchen" type="text" class="form-control search-field" [(ngModel)]="searchText">
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Student</th>
                <th>Date</th>
                <th>Attempt Nr.</th>
                <th>Grade</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exam of exams">
                <td>{{exam.teacher.firstName}} {{exam.teacher.lastName}}</td>
                <td>{{exam.student.firstName}} {{exam.student.lastName}}</td>
                <td>{{exam.date | date: 'fullDate'}}</td>
                <td>{{exam.attempt}}</td>
                <td>{{exam.grade}}</td>
                <td><button class="btn btn-primary" [routerLink]="['/details/', exam.subject.id]">Details</button></td>
            </tr>
        </tbody>
    </table>
</div>