<nav class="navbar navbar-custom navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Nost Prüfungen</a>
    <button class="navbar-toggler" 
      type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNav" 
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Prüfungen</a>
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Anmelden</a>
      </div>
    </div>
  </div>
</nav>

<div class="Container">
  <router-outlet></router-outlet>
</div>